.agile-board {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: -20px; /* 上移整体 */
}

.swimlanes {
    display: flex;
    justify-content: space-between;
}

.swimlane {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 70px;
    margin: 10px;
}

.swimlane-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    margin-left: -30%;
}

.card {
    width: 80%; 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.top-right-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.top-right-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.top-right-button:hover {
    background-color: #0056b3;
}

.task-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-detail-container {
    background-color: rgb(30, 27, 27);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
    text-align: center;
}

.task-detail-container h2 {
    margin-top: 0;
}

.task-detail-container button {
    margin-top: 20px;
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.task-detail-container button:hover {
    background-color: #0056b3;
}

.comment-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-container {
    background-color: rgb(30, 27, 27);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
    text-align: center;
}

.comment-container h3 {
    margin-top: 0;
}

.comment-container textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.comment-container button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.comment-container button:hover {
    background-color: #0056b3;
}